* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, img, .container {
  border-radius: 8px;
}

.header {
  background: #1f2937;
}

.header-menu {
  padding: 16px 0;
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
  flex: none;
}

.links {
  display: flex;
  gap: 16px;
}

.header-content {
  margin: auto;
  padding: 128px 0;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.text {
  flex: 1 1 340px;
}

.text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.text p {
  margin-bottom: 8px;
}

.header-content .text p, .link {
  font-size: 18px;
  color: #e5e7eb;
}

.img {
  max-width: 600px;
  min-width: 360px;
  margin: auto;
}

.header-content button {
  background-color: #3882f6;
  padding: 8px 32px;
  color: #f9faf8;
  font-size: 16px;
}

#photos {
  padding: 38px 0 96px;
  margin: auto;
  max-width: 70%;
}

#photos h2 {
  margin-bottom: 38px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  color: #1f2937;
}

.card img {
  max-width: 300px;
  min-width: 250px;
  margin-bottom: 4px;
}

#quote {
  background: #e5e7eb;
}

#quote blockquote {
  max-width: 60%;
  padding: 96px 0;
  margin: auto;
}

#quote blockquote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
}

#quote blockquote figcaption {
  font-size: 18px;
  text-align: end;
}

#sign-up {
  max-width: 80%;
  margin: auto;
  padding: 96px 0;
}

#sign-up .container {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  padding: 36px 8px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container button{
  padding: 8px 32px;
  font-size: 16px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

footer {
  background: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 24px 0;
}