* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
button {
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.menu-bg, .intro-bg {
  background: #1f2937;
}

.menu {
  max-width: 1044px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a img {
  width: 50px;
}

.menu-nav ul {
  display: flex;
  list-style: none;
}

.menu-nav li a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 10px 0 10px 20px;
  font-size: 1.125em;
}

.menu-nav li a:hover {
  color: #8a929e;
}

.intro {
  max-width: 1044px;
  margin: 0 auto;
  padding: 100px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-text {
  flex: 1 1 400px;
  margin: 10px 0;
}

.intro-text h1 {
  font-size: 3em;
  color: #f9faf8;
}

.intro-text p {
  font-size: 1.125em;
  color: #e5e7eb;
  margin: .5em 0;
}

.intro-text button {
  color: #f9faf8;
  background: #3882f6;
}

.intro-text button:hover {
  background: #2877f7;
}

.intro-img {
  flex: 1 1 400px;
  color: #e5e7eb;
}

.photos {
  max-width: 1044px;
  margin: 50px auto 100px;
}

.photos h1 {
  font-size: 2.25em;
  color: #1f2937;
  text-align: center;
  margin: 0 10px 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 1 220px;
  padding: 10px;
  font-size: 1.125em;
  text-align: center;
}

.card-text {
  color: #1f2937;
  margin-top: 8px;
}

@media (max-width: 900px) {
  .card {
    flex: 1 1 50%;
  }
}

@media (max-width: 560px) {
  .card {
    flex: 1 1 100%;
  }
}

.quote {
  background: #e5e7eb;
}

.quote-content {
  display: block;
  max-width: 844px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 10px;
}

.quote-text {
  font-size: 2.25em;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  text-align: end;
  margin-top: 10px;
}

.cta {
  margin: 0 10px;
}

.cta-container {
  max-width: 1044px;
  margin: 100px auto;
  padding: 50px 10px;
  background: #3882f6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.cta-text {
  margin: 0 10px 10px 0;
}

.cta-button {
  color: white;
  background: #3882f6;
  border: 2px solid white;
}

.cta-button:hover {
  background: white;
  color: #3882f6;
}

.footer {
  text-align: center;
  background: #1f2937;
  color: white;
  padding: 40px 10px;
}